body{
	background:#EEEEEE;
}
#conteneur{
	width:800px;
	position:relative;
	margin-left: -400px;
	left:50%;
	background:#FFFFFF;
}
#header{
	height:70px;
	width:800px;
	margin: 0px 0px 0px 0px;
	display:block;
}
#main{
	width:800px;
	margin-top: 1px;
	display:block;
}
#menu{
	width:220px;
	padding-left:15px;
	float:left;
	display:block;
}
#content{
	margin-left: 220px;
	padding: 0px 15px 20px 15px;
	text-align: justify;
}
div.spacer{
	clear:both;
	height:1px;
	display:block;
}
#footer{
	margin-top: 10px;
	border-top: 5px solid #EEEEEE;
	text-align: center;
	display:block;
}
#logo{
	width: 280px;
	padding: 4px 25px 4px 15px;
	float:left;
}
#menuhautorange{
	width:160px;
	height:60px;
	margin-top: 10px;
	padding-top: 10px;
	float:left;
	background:url("../img/MenuFondOrange2.jpg") no-repeat;
	text-align:center;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
#menuhautbleuf{
	width:160px;
	height:60px;
	margin-top: 10px;
	padding-top: 10px;
	float:left;
	background:url("../img/MenuFondBleuFonce2.jpg") no-repeat;
	text-align:center;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
#menuhautbleuc{
	width:160px;
	height:60px;
	margin-top: 10px;
	padding-top: 10px;
	float:left;
	background:url("../img/MenuFondBleuClair2.jpg") no-repeat;
	text-align:center;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
a.menuhaut:link, a.menuhaut:visited, a.menuhaut:active{
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none;
}
a.menuhaut:hover {
	COLOR: #FFFFFF; 
	TEXT-DECORATION: underline;
}
#domainebleuf{
	margin-left:1px;
	width:798px;
	height:10px;
	background:#003366;
}
#domainebleuc{
	margin-left:1px;
	width:798px;
	height:10px;
	background:#A3BED8;
}
#domaineorange{
	margin-left:1px;
	width:798px;
	height:10px;
	background:#FF9900;
}
#planorange{
	width:200px;
	margin: 30px 20px 30px 20px;
	padding-top: 10px;
	float:left;
	background:url("../img/MenuFondOrange.jpg") no-repeat;
	text-align:center;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
#planbleuf{
	width:200px;
	margin: 30px 20px 30px 20px;
	padding-top: 10px;
	float:left;
	background:url("../img/MenuFondBleuFonce.jpg") no-repeat;
	text-align:center;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
#planbleuc{
	width:200px;
	margin: 30px 20px 30px 20px;
	padding-top: 10px;
	float:left;
	background:url("../img/MenuFondBleuClair.jpg") no-repeat;
	text-align:center;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
h1{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 18px; 
	COLOR: #A3BED8; 
	FONT-FAMILY: Book Antika, Arial; 
	TEXT-DECORATION: none;
}

h2{
	color: #003366;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	text-decoration: none;
	FONT-WEIGHT: bold;
}
p{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #333333; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.nuagetag{
	width:250px;
	margin:0px 0px 0px 20px;
	float:right;
}
a.contenttxt:link, a.contenttxt:visited, a.contenttxt:active, a.contenttxt:hover {
	color: #003366; 
	text-decoration: none;
	border-bottom:1px #FF9900 solid;
}

ul.contenttxt {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #333333; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	list-style-image: url("../img/puce.gif");
}
ul li.contenttxt {
	margin: 5px 5px 5px 10px;
}

ul.menutxt {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #333333; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	list-style-image: url("../img/puce.gif");
}
ul li.menutxt {
	margin: 0px 5px 20px 10px;
}

a.menutxt:link, a.menutxt:visited, a.menutxt:active{
	color: #003366;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	text-decoration: none;
	FONT-WEIGHT: bold;
}
a.menutxt:hover {
	text-decoration: none;
	border-bottom:1px #FF9900 solid;
}
.menutxtsel{
	color: #FF9900;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	text-decoration: none;
	FONT-WEIGHT: bold;
}
a.footerstyle:link, a.footerstyle:visited, a.footerstyle:active {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
	color:#003366;
}
a.footerstyle:hover {
	TEXT-DECORATION: underline;
}
a.newpage:link, a.newpage:visited, a.newpage:active, a.newpage:hover{
	color: #003366; 
	text-decoration: none;
	border-bottom:1px #FF9900 solid;
}
a.newpage:after {
	content: url("../img/lienexterne.png");
}
.img, .img:hover {
	border:none;
}
.imgback{
	border:none;
	padding: 1px 5px 1px 5px;
}
.important{
	border : solid 1px #FF9900;
	padding : 10px;
}
.photo{
margin:0px 10px 10px 0px;
float:left;
}
.contenuTable {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #333333; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
	vertical-align:top;
	text-align:left;
}
.contenuTable4 {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: #333333; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
	vertical-align:top;
	text-align:left;
	width:30%;
}
